{% extends '@EasyAdmin/page/content.html.twig' %}

{% set page_title = 'Tableau de bord Mileo pour les équipes' %}

{% block page_title %} {{ page_title|trans }}{% endblock %}
{% block main %}

<article class="content">
    <section class="">
        <p class="fs-6">
        <strong>
        Cette interface est une version beta de la version Team de Mileo.</strong><br />
        Notre équipe travaille à son développement afin de l'agrémenter rapidement. <br /><br />
        Vous souhaitez nous faire part d'une idée de nouvelle fonctionnalité ou nous signaler un bug ? <br />
        N'hésitez pas à nous contacter directement par téléphone au 05.46.89.43.44.
        </p>   
    </section>

    <section class="content-body">

    </section>
</article>

    
{% endblock %}