{% extends '@!EasyAdmin/crud/new.html.twig' %}

{% block content_title %}
    {% set url_back = ea_url()
        .setAction('index')
    %}
    <a href='{{ url_back|raw }}'><i class="fa-solid fa-arrow-left"></i></a>
    {{ parent() }}
{% endblock %}