<p>Bonjour {{ user.firstname }} {{ user.lastname }}</p>
<p>Vous recevez cet email car une demande de réinitialisation de votre mot de passe a été effectuée sur notre site. <br />
Veuillez cliquer sur le lien suivant pour réinitialiser votre mot de passe: <a href="{{ url|raw }}">{{ url|raw }}</a></p>
<p>Si vous n'êtes pas à l'origine de cette demande, veuillez ne pas y prêter attention.</p>
<p>Merci, <br />
L'équipe Mileo</p>
<p>Ceci est un message automatique, merci de ne pas y répondre.</p>