{% extends '@EasyAdmin/crud/form_theme.html.twig' %}

{% block _Report_linesReportList_row %}

    {% set report = form.parent.vars.data ?? null %}
    {% set items = report ? report.lines : [] %}
    {% set sorted = items|sort((a, b) => (a.travelDate ? a.travelDate.timestamp : 0) <=> (b.travelDate ? b.travelDate.timestamp : 0)) %}

    <div id="report-lines-readonly"
        data-report-id="{{ report.id }}"
        data-refresh-url="{{ ea_url()
            .setController('App\\Controller\\App\\ReportAppCrudController')
            .setAction('refreshLines')
            .setEntityId(report.id)
            .unset('referrer')
            .unset('sort')
            .unset('page')
            .unset('query')
            .generateUrl() }}">
        {% include 'App/Report/_lines_readonly_content.html.twig' with { report: report } %}
    </div>

    <div id="ea-sidepanel-backdrop" class="tm-sidepanel-backdrop"></div>

    <aside id="ea-sidepanel" class="tm-sidepanel" aria-hidden="true">
        <div class="tm-sidepanel__header">
            <h5 class="tm-sidepanel__title">{{ 'Édition du trajet'|trans }}</h5>
            <button type="button" class="btn-close" data-close-sidepanel aria-label="{{ 'Fermer'|trans }}"></button>
        </div>
        <div class="tm-sidepanel__body">
            <iframe data-sidepanel-iframe style="border:0;width:100%;height:100%;"></iframe>
        </div>
    </aside>

{% endblock %}