<body>
    <p>Bonjour {{ user.getFirstName() }} {{ user.getLastName() }},</p>
    <p>Vous bénéficiez actuellement de l’offre <strong>Mileo Pro</strong> et nous vous en remercions chaleureusement.
    <p>
        Votre abonnement arrive à expiration le {{ end|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}.
    </p>

    <p>Afin d'éviter toute interruption, vous pouvez renouveler dès maintenant :</p>
    <p><a href="{{ url }}">Renouveler mon abonnement Pro annuel</a></p>

    <p>Nous vous remercions pour votre fidélité.</p>
    <p>L'équipe <span style="font-size: 20px; font-weight: bold; color: #6174d1 !important;"><font color="#6174d1">Mil</font></span><span style="font-size: 20px; font-weight: bold;color: #242F51 !important;"><font color="#242F51">eo</font></span></p>
</body>
